In [11]:
import pandas as pd

In [12]:
#Metodo 1: Espacificar ruta completa al archivo

In [13]:
#Windows
#datos=pd.read_csv('C:\\Users\\nombreusuario\\Documents\\Curso Python Data Science\\DatosDemograficos.csv')

#Mac
datos=pd.read_csv('/home/scardell/Documents/aawork/ibm_inteligencia_artificial/python_A-Z_Data-Science/DatosDemograficos.csv')

In [14]:
datos

,Nombre del Pais,Codigo de Pais,Tasa de Natalidad,Usuarios de Internet,Grupo de ingresos
0,Aruba,ABW,10.244,78.9,Ingreso alto
1,Afghanistan,AFG,35.253,5.9,Ingreso bajo
2,Angola,AGO,45.985,19.1,Ingreso medio alto
3,Albania,ALB,12.877,57.2,Ingreso medio alto
4,United Arab Emirates,ARE,11.044,88.0,Ingreso alto
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Ingreso medio bajo
191,South Africa,ZAF,20.850,46.5,Ingreso medio alto
192,"Congo, Dem. Rep.",COD,42.394,2.2,Ingreso bajo
193,Zambia,ZMB,40.471,15.4,Ingreso medio bajo
194,Zimbabwe,ZWE,35.715,18.5,Ingreso bajo

In [15]:
#Metodo 2: Cambiando en Working Directori

In [16]:
import os

In [18]:
#print(os.getcwd())
#os.chdir('path del archivo') Esto cambia el directorio de trabajo

/home/scardell/Documents/aawork/ibm_inteligencia_artificial/python_A-Z_Data-Science